<h1>Events Responses</h1>
<p> if only I could get the records to save and return </p>

<br><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %> <br>

<br><%= link_to "Events", events_path, class: "btn btn-primary" %> <br>
 