<h1>Tell Us You'll Join Us!</h1>
<p>Please let us know if you plan to attend.</p>
<p>If you need a ride or can provide one, let us know that, too.</p>

	<%= render 'form' %>

<%= link_to "Return to Events", events_path %>	