	<h3>Hello, <%= @user.name %>! Do we have your correct information? </h3>
	
	<%= render 'form' %>
	
	<p> If everything is correct, please proceed to the events: </p>
	<p><%= link_to 'Events', '/events' %></p>
	<p><%= link_to 'List an Event', '/events/new' %></p>