	<div class="theme-showcase" role="main">
	

	<div class="left-pic">
		<img src="http://www.buzzhunt.co.uk/wp-content/2012/02/20030319_fvdd.jpg" width="600">
	</div>

	<div class="right-info">
		<h1>Welcome to the Protest Clearinghouse</h1>
		<%= link_to('Log in with Facebook!', '/auth/facebook') %>
	</div>

</div>






