	<div class="theme-showcase" role="main">
	
	<div class="left-pic">
		<img src="https://positivelypresent.typepad.com/.a/6a011168668cad970c01bb08adabe9970d" width="600">
	</div>

	<div class="right-info">
		<h1>Welcome to the Protest Clearinghouse</h1>
	</div>
		<p></p>

		
		

	<!--	<%#= link_to('Log in with Facebook', '/auth/facebook') %> -->
  	
		
