<h1>Events</h1>

 <h3><% @event.name %></h3>
		<div id="event-<%= event.id %>"></div>
			
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/events/" + id + "/cause", function(cause) {
      $.get("/events/" + id + "/location", function(location) {
      	$.get("/events/" + id + "/datetime", function(datetime) {
      		$.get("/events/" + id + "/event.organization.name", function(event.organization.name) {
        }
        var causeText = "<p>" + cause + "</p><p>" + locationText + "<p>" + location +"</p><p>" + datetimeText +"<p>" + datetime + "</p><p>" + eventOrganizationText + "<p>" + eventOrganization;
        $("#eventt-" + id).html(causeText);
    		});
    	});
      });
    });
  });
;
</script>


	 
	<p><%= link_to "Create Event", new_event_path, class: "btn btn-primary" %> </p>
	<p><%= link_to "Past Events", events_past_events_path %> </p>


