<h1>List a New Event</h1>

<%= render 'form', url: 'new_event_path' %>

<% yield %>

<%= render 'organization/form', 

<p><%= link_to 'Add sponsoring organization', url: 'show_organization_path' %></p>

<% end %>

