<%= form_for :organizations, url: organizations_path do |f| %>

Name: <%= f.text_field :name %><br>
Contact info: <%= f.text_area :contact_info %><br>
	<p>
	</p>
	<%= f.submit "Submit" %>
	
<% end %>
			
	