<h1>Organizations</h1>
 
<%= link_to "New Organization", new_organization_path %>

<div id="organizations">
    <% @organizations.each do |organization| %>
       <h2><%= organization.name %></h2>
        <p><%= organization.contact_info %></p>

        <% end %>
</div>
        
     <%= link_to "Back to Events", events_path, class: "btn btn-primary btn-light" %></p>	   
      
    
 

