<h1><%= @organization.name %></h1>
<p><%= @organization.contact_info %></p>
		
	
	                                                                                                                                                                                                                                                                                                                     