	
	<% @organizations.each do |organization| %>
	<p> <%= organization.name %> </p>
	<p>	<%= organization.contact_info %></p>
	<% end %>
		
	
	                                                                                                                                                                                                                                                                                                                     