<h1>Event</h1>
<ul id="events>"
	<% @organization.events.each do |event| %>
	<li>
		<%= link_to event.name, [@organization, event] %>
		</li>
		<% end %>
	</ul>
	
	                                                                                                                                                                                                                                                                                                                     